@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-serif: "Merriweather", serif;

  --container-center: true;
  --container-padding: 15px;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1400px;

  --font-oswald: var(--font-oswald);
  --font-roboto: var(--font-roboto);

  --background-hero: url('/assets/img/hero/bg.png');
  --background-membership: url('/assets/img/membership/bg.png');

  --color-DEFAULT: #0333;
  --color-100: #484848;
  --color-200: #151515;
  --color-300: #111;

  --accent: #a6ff21;
}

@layer base {
  body {
    font-family: var(--font-roboto);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-oswald);
    text-transform: uppercase;
  }

  h1 {
    @apply text-white text-7xl lg:text-[128px] tracking-[-3px];
  }

  .h2 {
    @apply text-[36px];
  }

  h3 {
    @apply text-[32px];
  }

  h4 {
    @apply text-[26px];
  }

}
.active {
  @apply text-lime-400;
}
